.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: ridge;
    padding: 5px 10px;
 }
 
 .header-image{
     /* visibility: hidden; */
     width: 100px;
     /* height: 115px; */
     /* margin: -47px 1131px -49px 0; */
 }
 
 .profile{
     display: flex;
     align-items: center; 
     justify-content: right;
     font-size: 16px;
 }
 
 .profile .profile-title{
     margin: 0 5px 0 0;
 }
 
 .dropIcon{
     cursor: pointer;
 }
 
 .blue-back{
     display: none;
    margin: 5px 0 0 5px;
    background-color: #2197ff;
    border: none;
    color: white;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    font-size: 13px;
    }

    .white-back{
        display: none;
        margin: 5px 0 0 5px;
        background-color: white;
        border: none;
        color: #2197ff;
        padding: 6px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid;
        font-size: 13px;
        }
 
 @media (max-width:1140px){
     .profile{
         font-size: 22px;
     }
 
     .profile-title{
         font-size: 16px;
     }
    }

@media (max-width : 900px){
    .blue-back{
    display: inline-block;
    }

    .white-back{
    display: inline-block;
    }

    .profile{
        display: none;
    }
}

@media (min-width : 901px){
    .barCross{
        display: none;
    }
}