.Header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom-style: ridge;
}

.header-image{
    /* visibility: hidden; */
    width: 115px;
    height: 115px;
    margin: -47px 1131px -49px 0;
}

.profile{
    display: flex;
    justify-content: right;
    font-size: 16px;
}

.profile-title{
    display: inline;
    margin: 5px;
}

.dropIcon{
    display: inline;
    margin: 7px 14px 0 0;
    line-height: 10px;
    cursor: pointer;
}

/* @media (min-width:340px){
    .profile{
        font-size: 50px;
    }
} */

@media (max-width:1140px){
    .profile{
        font-size: 22px;
    }

    .dropIcon{
        margin-top: 12px;
    }
} 