.VerticalMenu {
    width: 7.5rem;
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 10px;
    height: 100vh;
    position: absolute;
    overflow-y: auto;
    z-index: 9;
}

.VerticalMenuForPhone{
    display: none;
    margin: 40px 0 0 2px;
    width: 7.5rem;
    color: whitesmoke;
    padding: 10px 10px 0 15px;
    height: 100vh;
    position: absolute;
    overflow-y: auto;
    border-radius: 3px;
    z-index: 9;
}

.sidebar-logo{
    padding: 10px 0;
}

.sidebar-logo img{
    width: 100px;
}

.items ul{
    padding: 0;
    margin: 0;
}

.service-list .service + .service {
    margin: 10px 0 0 0;
}

.service-list .service{
    position: relative;
}

.service{
    display: flex;
}

.title{
    color: #2197ff;
    margin: 0 5px 0 0;
    font-size: 11px;
}

.category{
    padding: 0;
}

.service .category{
    margin: 0 0 0 10px;
}

.service .category .cat-header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* margin: 0 0 0 10px; */
}

.service .category .cat-head h3{
    margin: 0;
}

.service .category .cat-header .dropdown{
    -webkit-transition: all ease-in-out 0.3s;
    transition        : all ease-in-out 0.3s;
}

.service .category .cat-header .dropdown svg{
    width: 16px;   
}

.service .category .cat-header .dropdown-active{
    -webkit-transition: all ease-in-out 0.3s;
    transition        : all ease-in-out 0.3s;
    transform: rotate(180deg);
}

.service .category .cat-body{
    -webkit-transition: all ease-in-out 0.3s;
    transition        : all ease-in-out 0.3s;
    max-height: 0;
    overflow: hidden;
}

.service .category .cat-body-active{
    -webkit-transition: all ease-in-out 0.3s;
    transition        : all ease-in-out 0.3s;
    max-height: 500px;
    overflow: visible;
}

/* .cat-body-Servers .cat-body-Servers{
    -webkit-transition: all ease-in-out 0.3s;
    transition        : all ease-in-out 0.3s;
    max-height: 0;
    overflow: hidden;   
} */


.subItems{
    list-style:none;
    white-space: nowrap;
    font-size: 10px;
    line-height: 20px;
}

.subItems:hover{
    background-color: #1B1A17;
    cursor: pointer;
    width: 6rem;
}

.logo{
    margin: 3px 0 0 0;
    background-color: grey;
    color: white;
    font-size: 12px;
    width: 0;
    height: 0;
    padding: 2px 14px 14px 2px;
    border-radius: 3px;
}

.hideItems {
    display: none;
}

.headers-Item{
    color: #2197ff;
    margin: 10px 0 0 22px;
    font-size: 11px;
}

.headerItem{
    display: none;
    font-size: 11px;
}

/* .dropdown{
    cursor: pointer;
    transform: rotate(180%);
} */

@media (max-width: 900px){
    .VerticalMenu{
        display: none;
    }

    .VerticalMenuForPhone{
        display: inline-block;
    margin: 40px 0 0 2px;
    width: 7.5rem;
    color: whitesmoke;
    padding: 10px 10px 0 15px;
    height: 100vh;
    position: absolute;
    overflow-y: auto;
    border-radius: 3px;
    z-index: 9;
    }

    .headerItem{
        display: inline-block;
    }
}